@font-face {
  font-family: icon;
  src: url('http://bennettfeely.com/fonts/icons.woff');
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.blue {
  background: #31374F;
  color: #fff; }

.blue h3 {
  background: #fff;
  color: #31374F;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center; }

.variable-width .flipcover-slide p {
  background: #fff;
  height: 100px;
  color: #31374F;
  margin: 5px;
  line-height: 100px; }

.button {
  background: #31374F;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 48%; }

.buttons {
  padding: 0 20px 20px;
  margin-bottom: 10px; }

.buttons .button {
  background: #FFF;
  color: #31374F;
  float: left;
  margin: 5px; }

.center .flipcover-center h3 {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08); }

.center h3 {
  opacity: 0.8;
  transition: all 300ms ease; }

.content {
  margin: auto;
  padding: 20px;
  width: 600px; }

.content:after, .buttons::after {
  clear: both;
  content: "";
  display: table; }

.destroy {
  font-weight: 400;
  margin-top: 40px; }

.features {
  display: block;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  text-align: center; }

.features li {
  margin: 20px 0; }

.filter .button {
  background: #FFF;
  color: #31374F;
  margin-bottom: 40px; }

.fixed-header {
  background: #FFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }

.fixed-header .header-content {
  margin: auto;
  width: 600px; }

.fixed-header .subheading {
  display: none; }

.fixed-header h1.title {
  float: left;
  font-size: 24px;
  margin: 0; }

.fixed-header ul.nav {
  float: right;
  margin: 0;
  padding: 5px; }

.fixed-header ul.nav li {
  margin: 0 0 0 10px; }

  ul.nav li a { color: white; }

.header { padding: 20px 0; }

.margin-40 {
  margin-bottom: 40px; }

.more, .button.first {
  margin-top: 40px; }

.red {
  background: #e74c3c;
  color: #fff; }

.flipcover-slide .image {
  padding: 10px; }

.flipcover-slide img {
  border: 5px solid #FFF;
  display: block;
  width: 100%; }

.flipcover-slide img.flipcover-loading {
  border: 0; }

.flipcover-slider {
  margin: 30px auto 50px; }

.subheading {
  color: #555;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 10px auto;
  text-align: center; }

.white {
  background: #fff;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFF 0%, #D8DFE9 100%);
  color: #31374F;
}

.white pre, .white hr {
  background: #31374F !important;
}

a {
  color: #31374F; }

body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%; }

code {
  color: #000;
  overflow-x: scroll; }

#getting-started strong { color: #a1a7bf; }
#getting-started div { font-weight: bold; }
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  font-weight: normal;
  /*font-family: 'Consolas', 'Monaco', 'Andale Mono', monospace !important;*/
}

h1 {
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 auto 10px;
  text-align: center; }

h1.title {
  font-size: 96px; }

h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
  margin: 20px auto;
  text-align: center; }

h4 {
  font-family: 'Slabo 27px', serif;
  font-size: 28px;
  margin: 20px auto;
  text-align: center; }

hr {
  background: #fff;
  border: 0;
  height: 1px;
  margin: 40px 0; }

p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center; }

p.note {
  font-size: 12px; }

p.cdn {
  font-size: 14px; }

p.guff {
  font-size: 16px; }

pre {
  background: #fff;
  margin: 0 10px 20px;
  padding: 10px; }

section {
  width: 100%;
  position: relative; }

table {
  font-size: 14px;
  line-height: 18px;
  margin: 40px auto 20px;
  display: block; }

tr {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #fff;
  margin: 0px 0px 20px;
  padding: 0px 0px 20px;
  background: transparent;
  float: left; }

thead {
  display: none; }

td {
  border: 0;
  padding: 10px 0px; }

td, tbody {
  display: block;
  width: 100% !important; }

table.settings td:nth-of-type(1), table.methods td:nth-of-type(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px; }

table.settings td:nth-of-type(2):before {
  content: 'Type: ';
  font-weight: 700; }

table.settings td:nth-of-type(3):before {
  content: 'Default: ';
  font-weight: 700; }

table.methods td:nth-of-type(2):before {
  content: 'Arguments: ';
  font-weight: 700; }

ul.nav {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center; }

ul.nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px; }

ul.nav li a {
  font-size: 14px;
  text-decoration: none; }

.octicon {
  width: 28px;
  height: 28px;
  /*padding: 2px;
  margin-top: -2px;
  margin-bottom: -2px;*/
  /*background-color: #fff;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 50%;*/
}

.github, .tool, .nav-email { position: relative; }

.github span, .tool span, .nav-email span {
  opacity: 0;
  position: absolute;
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.github:hover span, .tool:hover span, .nav-email:hover span { opacity: 0.5; }

.github span {
  left: 46px;
  bottom: 12px;
}

.tool span {
  padding: 1px 0;
  right: 46px;
  bottom: 12px;
}

.nav-email span {
  padding: 1px 0;
  top: -45px;
  transform: translateX(-50%);
}

@media (max-width: 420px) {
  ul.nav li a {
    display: block;
    font-size: 14px; } }
@media (max-width: 768px) {
  .blue h3 {
    font-size: 24px; }

  .button {
    margin: 0 auto 20px;
    width: auto; }

  .button.first {
    margin-top: 40px; }

  .buttons {
    padding: 0 0 20px; }

  .buttons .button {
    float: left;
    font-size: 12px;
    margin: 1%;
    width: 48%; }

  .center {
    margin-left: -40px;
    margin-right: -40px; }

  .center .flipcover-center h3 {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    color: #e67e22;
    opacity: 1;
    transform: scale(1); }

  .center h3 {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease; }

  .content {
    margin: auto;
    padding: 20px 40px;
    width: auto; }

  .fixed-header .header-content {
    width: auto; }

  pre {
    font-size: 12px;
    overflow-x: scroll; }

  table {
    font-size: 14px;
    line-height: 18px;
    margin: 40px auto 20px;
    display: block;
    float: left; }

  tr {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    background: transparent;
    float: left; }

  thead {
    display: none; }

  td {
    border: 0;
    padding: 10px 0px; }

  td, tbody {
    display: block;
    width: 100% !important; }

  table.settings td:nth-of-type(1), table.methods td:nth-of-type(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px; }

  table.settings td:nth-of-type(2):before {
    content: 'Type: ';
    font-weight: 700; }

  table.settings td:nth-of-type(3):before {
    content: 'Default: ';
    font-weight: 700; }

  table.methods td:nth-of-type(2):before {
    content: 'Arguments: ';
    font-weight: 700; } }

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: inherit;
  overflow: hidden;
}

.demo div:last-child { font-family: icon; font-weight: bold; }

@font-face {
  font-family: icon;
  src: url("http://bennettfeely.com/fonts/icons.woff");
}

.dribbble-section, .dribbble-section * {
  box-sizing: border-box; }

.dribbble-section, .dribbble-section div {
  transition-duration: .6s; }

.dribbble-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.dribbble-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0; }
  .dribbble-button a {
    text-decoration: none;
    font-weight: bold;
    color: #FC1786; }

.dribbble-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.dribbble-inner, .dribbble-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .dribbble-inner:after, .dribbble-outer:after {
    content: "d"; }

.dribbble-outer {
  background-color: #FC1786;
  transform: translateZ(0.25em); }

.dribbble-inner {
  background-color: #fd49a0; }

.dribbble-section:hover {
  background: #EBEFF2; }
  .dribbble-section:hover .dribbble-button {
    opacity: 1; }
  .dribbble-section:hover .dribbble-cover {
    transform: rotateY(-120deg); }
  .dribbble-section:hover .dribbble-inner {
    background-color: #FC1786; }
  .dribbble-section:hover .dribbble-outer {
    background-color: #ab0254; }
  .dribbble-section:hover .dribbble-cover, .dribbble-section:hover .dribbble-inner, .dribbble-section:hover .dribbble-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.twiter-section, .twiter-section * {
  box-sizing: border-box; }

.twiter-section, .twiter-section div {
  transition-duration: .6s; }

.twiter-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.twiter-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0; }
  .twiter-button a {
    text-decoration: none;
    font-weight: bold;
    color: #2EC8FA; }

.twiter-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.twiter-inner, .twiter-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .twiter-inner:after, .twiter-outer:after {
    content: "t"; }

.twiter-outer {
  background-color: #2EC8FA;
  transform: translateZ(0.25em); }

.twiter-inner {
  background-color: #60d5fb; }

.twiter-section:hover {
  background: #EBEFF2; }
  .twiter-section:hover .twiter-button {
    opacity: 1; }
  .twiter-section:hover .twiter-cover {
    transform: rotateY(-120deg); }
  .twiter-section:hover .twiter-inner {
    background-color: #2EC8FA; }
  .twiter-section:hover .twiter-outer {
    background-color: #0590bd; }
  .twiter-section:hover .twiter-cover, .twiter-section:hover .twiter-inner, .twiter-section:hover .twiter-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.linkedin-section, .linkedin-section * {
  box-sizing: border-box; }

.linkedin-section, .linkedin-section div {
  transition-duration: .6s; }

.linkedin-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.linkedin-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0; }
  .linkedin-button a {
    text-decoration: none;
    font-weight: bold;
    color: #2672ae; }

.linkedin-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.linkedin-inner, .linkedin-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .linkedin-inner:after, .linkedin-outer:after {
    content: "in"; }

.linkedin-outer {
  background-color: #2672ae;
  transform: translateZ(0.25em); }

.linkedin-inner {
  background-color: #348dd3; }

.linkedin-section:hover {
  background: #EBEFF2; }
  .linkedin-section:hover .linkedin-button {
    opacity: 1; }
  .linkedin-section:hover .linkedin-cover {
    transform: rotateY(-120deg); }
  .linkedin-section:hover .linkedin-inner {
    background-color: #2672ae; }
  .linkedin-section:hover .linkedin-outer {
    background-color: #143b5a; }
  .linkedin-section:hover .linkedin-cover, .linkedin-section:hover .linkedin-inner, .linkedin-section:hover .linkedin-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }

.email-section, .email-section * {
  box-sizing: border-box; }

.email-section, .email-section div {
  transition-duration: .6s; }

.email-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: .375em .375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: .25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1); }

.email-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0; }
  .email-button a {
    text-decoration: none;
    font-weight: bold;
    color: #f80; }

.email-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em / 2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.email-inner, .email-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
  .email-inner:after, .email-outer:after {
    content: "g"; }

.email-outer {
  background-color: #f80;
  transform: translateZ(0.25em); }

.email-inner {
  background-color: #ffa033; }

.email-section:hover {
  background: #EBEFF2; }
  .email-section:hover .email-button {
    opacity: 1; }
  .email-section:hover .email-cover {
    transform: rotateY(-120deg); }
  .email-section:hover .email-inner {
    background-color: #f80; }
  .email-section:hover .email-outer {
    background-color: #995200; }
  .email-section:hover .email-cover, .email-section:hover .email-inner, .email-section:hover .email-outer {
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1); }


.example-image { background: white; }
.example-image img { padding: 30px 0; }

.white.examples { background: white; background-image: none; }


.download-button {
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  font-size: 28px;
  background: #fff;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFF 0%, #D8DFE9 100%);
}


.download-button, .download-button:hover { text-decoration: none; }
.download-button:hover { color: cornflowerblue; }
